/** @format */
@use "_variables" as *;
// css footer
footer {
  box-sizing: border-box;
  width: 100%;
  background: $text-black-cl;
  display: flex;
  flex-direction: column;
  .were {
    width: 100%;
    padding: 4em;
    .footer {
      display: flex;
      color: $text-white-cl;
      justify-content: space-between;
      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
          margin-bottom: 2em;
          text-align: center;
          span {
            font-family: "Karla", sans-serif;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 0.2em;
              background: $text-yellow-cl;
              bottom: -1em;
              left: 0;
            }
          }
        }
        .links {
          .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.4em;
            a {
              color: $text-white-cl;
              display: flex;
              gap: 0.5em;

              img {
                width: 1em;
                color: white;
              }
            }
          }
        }
        .button {
          text-align: center;
          padding: 1em;
          width: max(100%, 6em);
          align-items: center;
        }
      }
    }
  }
  .secondary {
    background: $black-bg-cl;
    text-align: center;
    color: $text-white-cl;
    padding: 1em;
    span {
      color: $text-yellow-cl;
    }
  }
}
.white {
  border: $white-cl 0.1em solid;
  color: white;
  &:hover {
    background-color: white;
    color: $black-bg-cl;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  footer {
    .were {
      .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 4em;
        column-gap: 4em;
      }
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
  footer {
    .were {
      .footer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: unset;
        justify-content: center;
      }
    }
  }
}
