/** @format */
@use "_variables" as *;
// css header
header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  .container-fluid {
    width: 100%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1120px) {
  header {
    position: absolute;
  }
}
