/** @format */
@use "_variables" as *;
// css header
header {
  width: 100%;
  overflow: hidden;
  height: unset;
  z-index: 5;
  top: 0;
  left: 0;
  position: fixed;
  .container-fluid {
    width: 100%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1120px) {
  header {
  }
}
