/** @format */
@use "_mixins" as *;
// css navigator (Menu)

.nav__main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    display: flex;
    li {
      position: relative;
      margin: 0 2em;
      a {
        text-align: center;
        font-family: "Karla", sans-serif;
        font-size: 1rem;
        color: $text-white-cl;

        font-weight: 600;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        &:hover {
          color: $text-yellow-cl;

          &::before {
            display: block;
            background: $text-yellow-cl;
          }
        }
        &::before {
          display: none;
          content: "";
          width: 97%;
          height: 0.1em;
          position: absolute;
          bottom: -0.2em;
          background: $white-cl;
        }
      }
    }
  }
  .logo {
    z-index: 10;
    img {
      width: 15em;
    }
  }
}
.hamburger {
  display: none;
  flex-direction: column;
  width: 2em;
  z-index: 12;
  cursor: pointer;
  span {
    background: #fff;
    border-radius: 0.2em;
    height: 0.3em;
    margin: 0.1em 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    &:nth-of-type(1) {
      width: 50%;
    }
    &:nth-of-type(2) {
      width: 100%;
    }
    &:nth-of-type(3) {
      width: 75%;
      transform-origin: bottom right;
      transform: translateX(30%);
    }
  }
}
.change {
  span {
    &:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg);
    }
    &:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg) translate(0px, -4px);
      width: 90%;
    }
    &:nth-of-type(3) {
      transform: rotatez(45deg) translate(3px, -6px);
      width: 50%;
    }
  }
}

.nav__mobile {
  height: 0;
  width: 100%;
  left: 0;
  position: fixed;
  opacity: 0;
  overflow: hidden;
  background-color: $text-black-cl;
  transition: 0.4s;
  z-index: 8;
  display: block;
  ul {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    li {
      margin: 2em 0;
      text-align: center;
      a {
        color: $text-white-cl;
        font-family: "Karla", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.2em;
        text-transform: uppercase;
      }
    }
  }
}

.show {
  height: 100vh;
  transition: 0.4s;
  opacity: 0.95;
}
.dark {
  li {
    a {
      color: $text-black-cl;
    }
  }
}

.bg-dark {
  span {
    background-color: $text-black-cl;
    transition: 0.4s;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1120px) {
  .nav__main {
    .menu {
      display: none;
    }
    .logo {
      img {
        width: 10em;
      }
    }
  }
  .hamburger {
    display: flex;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
}
